name: build-deploy-pipeline
on:
 push:
  branches: [main]

jobs:
  my-job:
    runs-on: ubuntu-latest
    env:
     SSH_PRIVATE_KEY: ${{ secrets.ssh }}

    steps:
      - name: checked code
        uses: actions/checkout@v3

      - name: create directory
        run: mkdir -p ~/.ssh

      - name: Move the private key into the directory
        run: echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa

      - name: assign the permission to this directory
        run: chmod 600 ~/.ssh/id_rsa

      - name: add host to known hosts
        run: ssh-keyscan -H 20.48.186.93 >> ~/.ssh/known_hosts
        
      - name: connect to vm
        run: |
         ssh -i ~/.ssh/id_rsa azureuser@20.48.186.93 << 'EOF'
         echo "It is connect to SSH VM"
         uname -a
         echo "This is SSH machine"
         cd /opt
         
         # Clone or pull repo
         if [ -d "Node-Express-Basic-Application" ]; then
           cd Node-Express-Basic-Application
           sudo git pull
         else
           sudo git clone https://github.com/muzammil-hue/Node-Express-Basic-Application.git
           cd Node-Express-Basic-Application
         fi

         # Fix permissions for npm
         sudo chown -R $(whoami) .

         # Install Node.js and npm if not already installed
         sudo apt update
         sudo apt install nodejs npm -y

         # Install dependencies and build
         npm install
         npm run build
         EOF
         npm run build
         EOF
